//Hero
.hero{
    &-wrap {
        padding-top: 50px;
    }
    &-content{
        padding: 2rem 0;
        position: relative;
        z-index: 3;
    }
    &-title {
        font-size: $fs-7;
    }
    &-image-mobile {
        height: 400px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &-action {
        &-wrap {
            .btn {
                padding: 5px 10px;
                font-size: $fs-16;
            }
        }
    }
}
.sub-header {
    padding-top: 50px;
    padding-bottom: 50px;
}
// Responsive breakpoint
@include media-breakpoint-up(sm){
    //Hero
    .hero{
        &-action {
            &-wrap {
                .btn {
                    padding: 10px 14px;
                    font-size: $fs-14;
                }
            }
        }
    }
    
}
@include media-breakpoint-up(lg){
    //Hero
    .hero{
        &-wrap{
            padding-top: 0;
            &-2 {
                padding-top: 100px;
            }
            &-3 {
                padding-top: 70px;
            }
        }
        &-content{
            padding: 4rem 0;
        }
        &-title {
            font-size: $fs-4;
            line-height: 1.3;
            &-s1 {
                font-size: $fs-5;
            }
        }
        &-text {
            font-size: $fs-14;
            &-s1 {
                font-size: $fs-15;
            }
        }
        &-image-mobile {
            height: auto;
            img {
                height: auto;
                object-fit: inherit;
            }
        }
    }
    .sub-header {
        padding-top: 60px;
    }
    
}

.tilt-effect{
    * {
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
      
      .card {
        width: 100%;
        display: block;
        padding-top: 300px;
        transform-style: preserve-3d;
      }
      
      .dcard {
        position: relative;
        display: block;
        perspective: 500px;
        height: 433px;
      }
      
      .col-md-12, .col-md-4 {
        margin-bottom: 30px;
      }
      
      .col-md-12 .dcard {
        perspective: 3000px;
      }
      
      .frame {
        // background: rgba(0, 0, 0, 0.6);
        display: block;
        width: 100%;
        height: 433px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .frame:after {
        width: calc(100% - 40px);
        border: 2px dashed rgba(255, 255, 255, 0.9);
        height: calc(100% - 40px);
        content: "";
        display: block;
        left: 20px;
        top: 20px;
        position: absolute;
        transform: translateZ(30px);
      }
      
      p {
       
        color:rgba(255, 255, 255,1);
        position: absolute;
        top: 82%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) translateZ(100px);
       text-align: center;
       font-weight: normal;
       font-size: 1.8em;
       font-family: 'Abril Fatface', serif;
       line-height: 1;

      //  margin: 0;
      //  font-weight: normal;
      //  font-size: 2.5em;
      //  font-family: 'Abril Fatface', serif;
      //  line-height: 1;
      }
      
      .trigger {
        position: absolute;
        height: 33.333333%;
        width: 33.333333%;
        display: block;
        z-index: 2;
      }
      .trigger:nth-child(1) {
        left: 0%;
        top: 0%;
      }
      .trigger:nth-child(1):hover ~ .card {
        transform: rotateY(8deg) rotateX(-5deg);
      }
      .trigger:nth-child(2) {
        left: 33.333333%;
        top: 0%;
      }
      .trigger:nth-child(2):hover ~ .card {
        transform: rotateY(0deg) rotateX(-5deg);
      }
      .trigger:nth-child(3) {
        left: 66.666666%;
        top: 0%;
      }
      .trigger:nth-child(3):hover ~ .card {
        transform: rotateY(-8deg) rotateX(-5deg);
      }
      .trigger:nth-child(4) {
        left: 0%;
        top: 33.333333%;
      }
      .trigger:nth-child(4):hover ~ .card {
        transform: rotateY(8deg);
      }
      .trigger:nth-child(5) {
        left: 33.333333%;
        top: 33.333333%;
      }
      .trigger:nth-child(5):hover ~ .card {
        transform: rotateY(0deg) rotateX(0deg);
      }
      .trigger:nth-child(6) {
        left: 66.666666%;
        top: 33.333333%;
      }
      .trigger:nth-child(6):hover ~ .card {
        transform: rotateY(-8deg) rotateX(0deg);
      }
      .trigger:nth-child(7) {
        left: 0%;
        top: 66.666666%;
      }
      .trigger:nth-child(7):hover ~ .card {
        transform: rotateY(8deg) rotateX(5deg);
      }
      .trigger:nth-child(8) {
        left: 33.333333%;
        top: 66.666666%;
      }
      .trigger:nth-child(8):hover ~ .card {
        transform: rotateY(0deg) rotateX(5deg);
      }
      .trigger:nth-child(9) {
        left: 66.666666%;
        top: 66.666666%;
      }
      .trigger:nth-child(9):hover ~ .card {
        transform: rotateY(-8deg) rotateX(5deg);
      }
}