html {
    --bg-one: #973999;
    --bg-two: #f8598b;
    --bg-three: #f7bf00;
    --bg-panel: #EBEBEB;
    --color-headings: #333;
    --color-text: #999;
    --color-fun: #c44394;
    --distance: 14rem;
  }
.cards-details {
    display: flex;
    width: 80vw;
    .card {
        z-index: 1;
        background: var(--bg-panel);
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.6);
        transition: 0.2s;
      }
    //   .card .fa-stack {
    //     color: var(--color-fun);
    //   }
    //   .card a {
    //     text-decoration: none;
    //     color: var(--color-headings);
    //   }
    //   .card p {
    //     color: var(--color-text);
    //   }
      
      .card:not(:first-child) {
        margin-left: calc(var(--distance)*-1);
      }
      
      .card:hover,
      .card:focus-within {
        transform: translatey(-4em);
        z-index: 10;
      }
      
      .card:hover ~ .card,
      .card:focus-within ~ .card {
       // transform: translatex(var(--distance));
        //transform: translatey(var(--distance));

      }
      
      .fa-stack {
        margin-left: -1rem;
      }
  }
  
  .bell:hover, .bell:focus {
    animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
    transform-origin: top right;
  }
  
  @keyframes bellshake {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(5deg);
    }
    30% {
      transform: rotate(-5deg);
    }
    45% {
      transform: rotate(4deg);
    }
    60% {
      transform: rotate(-4deg);
    }
    75% {
      transform: rotate(2deg);
    }
    85% {
      transform: rotate(-2deg);
    }
    92% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  .logo-img {
    height: 63px;
}

.card1{
    .hover .img {
        overflow: hidden;
        transform: rotate(0.0001deg);
        transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      .hover img {
        transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      .hover:hover .img {
        transform: scale(0.95);
      }
      .hover:hover img {
        transform: scale(1.15);
      }
}

.rotingtxt{
	font-size: 1.5em;
	color: rgba(255, 5, 5, 0.17);
	position: absolute;
	font-family: 'Denk One', sans-serif;
	text-transform:uppercase;
    margin-top: 70px;
    padding-right: 50px;
    padding-left: 20px;
    word-break: break-word;
}